<style>
  .resizable { width: 700px; height: 400px; padding: 1.5em; float:right;}
  .resizable h3 { text-align: center; margin: 0; }
  </style>

<script>
        $('.btn-success').click(function() {
            $.ajax({
            url: "/events/search",
            data: {
                search: $('#event_search').val()
            },
            type: "GET",
            dataType : "html",
            success: function( data ) {
                $('#replace').html(data);
            },
            error: function( xhr, status ) {
            alert( "Sorry, there was a problem!" );
            }
            });
        });

        $(document).ready(function() {

            // page is now ready, initialize the calendar...
            $('#calendar').fullCalendar({
                events: 'https://www.google.com/calendar/feeds/rameshkror%40gmail.com/public/basic'
            })

        });

        $(function() {
            $( ".resizable" ).resizable();
          });

    </script>

     

<h1>Events</h1>

<table>
    <tr>
        <%= form_for :event, :url => "#", :method => 'get' do %>
           <td><%= collection_select :event, :search, Category.order(:name), :id, :name, {:prompt => "--Select--"} %></td>
           <td><%= submit_tag "Filter", class: "btn btn-success"  %></td>
        <% end %>
    </tr>
</table>
<br/>
<table id="replace">
  <thead>
    <tr>
      <th>Name</th>
      <th>Date</th>
      <th>Venue</th>
      <th>Category</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= link_to event.name,  event %></td>
        <td><%= event.date %></td>
        <td><%= event.venue %></td>
        <td><%= event.category.name if event.category %></td>
        <!-- <td><%= link_to 'Show', event %></td>
        <td><%= link_to 'Edit', edit_event_path(event) %></td>
        <td><%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if current_user.role == 'admin' %>
<%= link_to 'New Event', new_event_path %>
<div id='calendar', class='resizable'></div>
<% end %>
